%h2 Participants
%p= link_to "Members", "/members"
%p= link_to "Add Participant", "/participants/new"
= search_form_for @q do |f|
  %p
    = f.label "Name:"
    = f.search_field :name_cont
  %p
    = f.label "Email:"
    = f.search_field :email_cont
  = f.submit
%ul
  -@participants.each do |part|
    -if part.member? == true
      %li= link_to "#{part.name}***", "/participants/#{part.id}"
    -else
      %li= link_to "#{part.name}", "/participants/#{part.id}"