%h2= "#{@participant.name}"
%h3= "Show Count: #{@participant.show_count}"
%h3
  -if @participant.member?
    ="Member Status: Yes--"
    -if @participant.six_month_check == "5 Month Warning"
      ="5 Month Warning"
    -elsif @participant.six_month_check == true
      ="Safe"
    -elsif @participant.override
      ="Company Status Overrriden to True"
  -else
    Member Status: No
%h3= "Phone: #{@participant.phone}"
%h3= "Email: #{@participant.email}"
%h3= "Ok to Contact: #{@contact_status}"
%h3= "Roles Performed:"
%ul
- @participant.roles_performed.each do |role|
  %li= role