%h1 Shows
= search_form_for @q do |f|
  %p
    = f.label "Title:"
    = f.search_field :title_cont
  %p
    = f.label "Month:"
    = f.search_field :year_cont
  %p
    = f.label "Year:"
    = f.search_field :year_cont
  %p
    = f.label "Participant's First Name:"
    = f.search_field :participants_first_name_cont
  = f.submit
%ul
- @shows.each do |show|
  %h3= link_to "#{show.title}, #{show.month}--#{show.year}", "/shows/#{show.id}"