%h1= "#{@show.title}, #{@show.month}--#{@show.year}"
%p= link_to "Add Play", "/shows/#{@show.id}/plays/new"
%ul
-@show.plays.each do |play|
  %li= link_to play.title, "/shows/#{@show.id}/plays/#{play.id}"